
//colors scheme
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
$Fuzzy-Wuzzy: #E56353;
$Ruddy-pink: #D76C69;
$Spanish-pink: #ECBCBA;
$Eeirie-black: #121619;
$Raisin-black: #222323;
$Nickel: #6C6E70;

//Typeface
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");